[Unit]
Description=Solana Validator
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
LimitNOFILE=2048000

Environment="SOLANA_METRICS_CONFIG="host=https://metrics.solana.com:8086,db=mainnet-beta,u=mainnet-beta_write,p=password""
Environment="RUST_LOG=solana=info"
Environment="ENTRYPOINT=mainnet-beta.solana.com:8001"
Environment="EXPECTED_GENESIS_HASH=5eykt4UsFv8P8NJdTREpY1vzqKqZKvdpKuc147dw2N9d"
Environment="EXPECTED_SHRED_VERSION=13490"
Environment="TRUSTED_VALIDATOR1=CakcnaRDHka2gXyfbEd2d3xsvkJkqsLw2akB3zsN1D2S"
Environment="TRUSTED_VALIDATOR2=DE1bawNcRJB9rVm3buyMVfr8mBEoyyu73NBovf2oXJsJ"
Environment="TRUSTED_VALIDATOR3=GdnSyH3YtwcxFvQrVVJMm1JhTS4QVX7MFsX56uJLUfiZ"
Environment="TRUSTED_VALIDATOR4=7Np41oeYqPefeNQEHSv1UDhYrehxin3NStELsSKCT4K2"

ExecStart=/root/.local/share/solana/install/active_release/bin/solana-validator \
  --ledger /root/solana/validator-ledger \
  --identity /root/solana/validator-keypair.json \
  --vote-account /root/solana/vote-account-keypair.json \
  --dynamic-port-range 8001-8020 \
  --gossip-port 8001 \
  --rpc-port 8999 \
  --rpc-bind-address 127.0.0.1 \
  --log - \
  --private-rpc \
  --no-untrusted-rpc \
  --limit-ledger-size 50000000 \
  --entrypoint ${ENTRYPOINT} \
  --expected-genesis-hash ${EXPECTED_GENESIS_HASH} \
  --expected-shred-version ${EXPECTED_SHRED_VERSION} \
  --no-check-vote-account \
  --trusted-validator ${TRUSTED_VALIDATOR1} \
  --trusted-validator ${TRUSTED_VALIDATOR2} \
  --trusted-validator ${TRUSTED_VALIDATOR3} \
  --trusted-validator ${TRUSTED_VALIDATOR4} \
  --expected-bank-hash Fi4p8z3AkfsuGXZzQ4TD28N8QDNSWC7ccqAqTs2GPdPu \
  --maximum-local-snapshot-age 1000 \
  --snapshot-interval-slots 500 \
  --snapshot-compression none

[Install]
WantedBy=multi-user.target
